/* You can add global styles to this file, and also import other style files */
@import './../styles/variables.scss';
@import './../styles/mixins.scss';

* {
  // outline: 1px solid red !important;
  font-family: 'Raleway', sans-serif;
}

a {
  color: $store-text-primary;
}

.bg-light {
  background-color: $store-bg-light !important;
}

header .row {
    margin: auto -5px;
    border-bottom: 1px solid;
    border-color: rgba(207,216,220,.5);
    height: 66px;
    .left-side {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
    }
    .right-side {
      align-items: center;
      display: flex;
      justify-content: flex-end;
    }
}

.loader-wrapper {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.loader {
    border: 8px solid #e4e4e4; /* Light grey */
    border-top: 8px solid $store-text-primary; /* Blue */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.modal-content {
  @include border-radius(10px);
}
